{% extends 'base.html' %}

{% block content %}
<section class="login-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="basic-login"><h3 class="text-center mb-60">Add Your Item Here</h3>
                </div>
                <div class="mt-10"></div>
                <div class="or-divide">
                    <form novalidate="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="os-btn w-100">Update item</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{#                        <div class="mb-20"><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}#}
{#                        <div class="form-error">{{ f.errors }}</div>#}
{#                         {% endfor %}#}
{#                        <div class="mb-20"><label for="email-id">Email Address <span>**</span></label><input#}
{#                                id="email-id" type="text" placeholder="Email address..." name="email"><!----></div>#}
{#                        <div class="mb-20"><label for="pass">Password <span>**</span></label><input id="pass"#}
{#                                                                                                    type="password"#}
{#                                                                                                    placeholder="Enter password..."#}
{#                                                                                                    name="password">#}